.get-in-touch-btn {
  width: 100%;
  padding: 0.7rem;
  background: var(--accent-lime);
  color: var(--text-dark);
  border: none;
  border-radius: 1rem;
  font-size: 0.85rem;
  font-weight: 800;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
}

.get-in-touch-btn:hover {
  background: var(--accent-lime-dark);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(196, 240, 116, 0.4);
}
