@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-column {
    @include flex-center();
    flex-direction: column;
}

@mixin flex-center-row {
    @include flex-center();
    flex-direction: row;
}

@mixin circle-shape {
    border-radius: 100%;
}